:root {
  --main-ff: 'Proxima-Nova';
  --dev-ff: 'Cuprum';
  --accent-color: #44c697;
  --text-color: #1e2e36;
}

body {
  font-family: var(--main-ff);
  font-style: normal;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Proxima-Nova-Regular/ProximaNova-Regular.eot") format("eot"), url("../fonts/Proxima-Nova-Regular/ProximaNova-Regular.ttf") format("woff"), url("../fonts/Proxima-Nova-Regular/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Proxima-Nova';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Proxima-Nova-Semibold/ProximaNova-Semibold.eot") format("eot"), url("../fonts/Proxima-Nova-Semibold/ProximaNova-Semibold.ttf") format("woff"), url("../fonts/Proxima-Nova-Semibold/ProximaNova-Semibold.woff") format("woff");
}

@font-face {
  font-family: 'Proxima-Nova';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Proxima-Nova-Bold/ProximaNova-Bold.eot") format("eot"), url("../fonts/Proxima-Nova-Bold/ProximaNova-Bold.ttf") format("woff"), url("../fonts/Proxima-Nova-Bold/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Proxima-Nova';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Proxima-Nova-Extrabld/ProximaNova-Extrabld.eot") format("eot"), url("../fonts/Proxima-Nova-Extrabld/ProximaNova-Extrabld.ttf") format("woff"), url("../fonts/Proxima-Nova-Extrabld/ProximaNova-Extrabld.woff") format("woff");
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Cuprum-Regular/Cuprum-Regular.eot") format("eot"), url("../fonts/Cuprum-Regular/Cuprum-Regular.ttf") format("woff"), url("../fonts/Cuprum-Regular/Cuprum-Regular.woff") format("woff"), url("../fonts/Cuprum-Regular/Cuprum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/icomoon/icomoon.eot") format("eot"), url("../fonts/icomoon/icomoon.ttf") format("woff"), url("../fonts/icomoon/icomoon.woff") format("woff");
}

.container {
  max-width: 100%;
  padding: 0px 50px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item:nth-child(1) .social__link::before {
  content: '\e90c';
}

.social__item:nth-child(2) .social__link::before {
  content: '\e90a';
}

.social__item:nth-child(3) .social__link::before {
  content: '\e90b';
}

.social__link {
  font-size: 0;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.social__link::before {
  font-family: 'icomoon';
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
}

.social__link:hover, .social__link:focus {
  color: var(--accent-color);
}

.phones__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.phones__item:nth-child(1) .phones__link::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  content: '\e910';
  color: inherit;
  margin-right: 5px;
}

.phones__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.phones__link:hover, .phones__link:focus {
  color: var(--accent-color);
}

.phones__link::before {
  font-family: 'icomoon';
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
}

.phones__link--theme--dark {
  color: var(--accent-color);
}

.phones__link--theme--dark::before {
  color: inherit;
}

.phones__arrow-down {
  margin-left: 5px;
}

.address {
  margin-bottom: 15px;
}

.address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__link::before {
  margin-right: 5px;
  font-family: 'icomoon';
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  content: '\e906';
}

.phones__item:not(:first-child) {
  padding-left: 29px;
}

.social__label--bottom {
  margin-bottom: 5px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  margin-right: 15px;
}

.logo__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  color: var(--text-color);
}

.logo__text span {
  color: var(--accent-color);
}

.logo__text--dark-theme {
  color: #ffffff;
}

.button {
  padding: 14px 46px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  max-width: 278px;
  background-size: 300% 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button:hover, .button:focus {
  background-image: -webkit-gradient(linear, left top, right top, from(#0ba360), color-stop(#3cba92), color-stop(#30dd8a), to(#2bb673));
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  -webkit-box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
          box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
  background-position: 100% 0;
  outline: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-card::before {
  margin-right: 5px;
  font-family: 'icomoon';
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  content: '\e90e';
}

.arrow-down {
  display: block;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  cursor: pointer;
}

.arrow-down::after {
  font-family: 'icomoon';
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  content: '\e90d';
  color: var(--text-color);
}

.scroll-up__button {
  position: fixed;
  z-index: 100;
  left: 35px;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  opacity: 0;
}

.scroll-up__button::before {
  font-family: 'icomoon';
  font-weight: 400;
  font-size: 20;
  line-height: 1;
  content: '\e901';
}

.fixed {
  opacity: 1;
}

.header__top {
  padding: 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #1e2e36;
  margin-right: -50px;
  margin-left: -50px;
}

.header__social {
  margin-right: 50px;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-navigation__item:not(:last-child) {
  margin-right: 15px;
}

.header-navigation__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

.header-navigation__link:hover::before, .header-navigation__link:focus::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header-navigation__link::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.header-navigation__link--active::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header-category {
  margin-right: 115px;
}

.header-category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header-category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-category__item:not(:last-child) {
  margin-right: 15px;
}

.header-category__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.header-category__link:hover, .header-category__link:focus {
  color: var(--accent-color);
}

.header-category__arrow-down {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.header-category__arrow-down::after {
  font-size: 20px;
}

.header-buttons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-buttons__button-card {
  margin-right: 30px;
}

.hero {
  background-image: url("../img/hero/hero-bg.jpg");
  background-repeat: no-repeat;
  padding-bottom: 115px;
}

.hero-slider {
  position: relative;
  text-align: center;
  width: 462px;
  background-color: #ffffff;
}

.hero-slider::before {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  content: '';
  width: 15px;
  height: 100%;
  background-color: var(--accent-color);
}

.hero-slide {
  position: relative;
  padding: 100px 75px 230px;
}

.hero-slide__suptitle {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

.hero-slide__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
}

.hero-slide__desc {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
}

.hero-slide__button {
  max-width: 209px;
}

.swiper-navigation {
  position: absolute;
  z-index: 5;
  bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.swiper-navigation__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--text-color);
  cursor: pointer;
}

.swiper-navigation__button::before {
  content: '\e90d';
  font-family: 'icomoon';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
}

.swiper-navigation__button--prev {
  margin-right: 8px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.swiper-navigation__button--next {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background-color: var(--text-color);
}

.swiper-navigation__button--next::before {
  color: #ffffff;
}

.swiper-pagination {
  margin-bottom: 5px;
  position: static;
  width: 100%;
  font-family: var(--main-ff);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: #1e2e36;
}

.swiper-pagination-total {
  font-size: 24px;
}

.swiper-pagination-current {
  font-size: 36px;
}

.features-slide:hover .features-slide__text-wrapper {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.features-slide:hover .features-slide__label {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.features-slide__img {
  width: 100%;
  max-width: unset;
}

.features-slide__label {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  color: #ffffff;
  cursor: pointer;
  -webkit-transform: translateY(calc(-100% - 51px));
          transform: translateY(calc(-100% - 51px));
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.features-slide__label span {
  position: relative;
}

.features-slide__label span::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
}

.features-slide__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  color: #ffffff;
}

.features-slide__img-wrapper {
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.features-slide__img-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(30, 46, 54, 0.5)), to(rgba(30, 46, 54, 0.5)));
  background: linear-gradient(0deg, rgba(30, 46, 54, 0.5), rgba(30, 46, 54, 0.5));
}

.features-slide__text-wrapper {
  padding: 30px 33px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.features-slider {
  position: relative;
}

.features-slider__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--text-color);
  cursor: pointer;
}

.features-slider__button::before {
  content: '\e90d';
  font-family: 'icomoon';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
}

.features-slider__button--prev {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 15px;
  margin-right: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
  border-color: #ffffff;
}

.features-slider__button--prev::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.features-slider__button--next {
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ffffff;
  border: none;
}

.features-slider__button--next::before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.page-section {
  margin-top: 100px;
}

.page-section__title {
  text-align: center;
  margin-bottom: 50px;
}

.title {
  font-style: 400;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
}

.title span {
  position: relative;
}

.title span::before {
  z-index: -1;
  top: 50%;
  left: -5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '';
  position: absolute;
  width: 20px;
  height: 50px;
  background-color: var(--accent-color);
}

.products-category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 84px;
}

.products-category__item:nth-child(1) .products-category__link::before {
  content: '\e905';
}

.products-category__item:nth-child(2) .products-category__link::before {
  content: '\e902';
}

.products-category__item:nth-child(3) .products-category__link::before {
  content: '\e900';
}

.products-category__item:nth-child(4) .products-category__link::before {
  content: '\e908';
}

.products-category__item:nth-child(5) .products-category__link::before {
  content: '\e909';
}

.products-category__item:nth-child(6) .products-category__link::before {
  content: '\e904';
}

.products-category__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.products-category__link span {
  position: relative;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.products-category__link span::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.products-category__link:hover span::after, .products-category__link:focus span::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.products-category__link:hover::before, .products-category__link:focus::before {
  color: var(--accent-color);
}

.products-category__link::before {
  font-family: 'icomoon';
  font-weight: 400;
  font-size: 100px;
  line-height: 1;
  margin-bottom: 10px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.products-category__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
  margin-bottom: 50px;
}

.products__item {
  margin-left: 30px;
  margin-top: 50px;
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
}

.product-card {
  position: relative;
  cursor: pointer;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.product-card:hover {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.product-card:hover .product-card__meta {
  background-color: var(--accent-color);
}

.product-card:hover .product-card__title,
.product-card:hover .product-card__price {
  color: #ffffff;
}

.product-card__meta {
  max-width: 586px;
  padding: 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.product-card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  margin-right: auto;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.product-card__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.product-card__price--new {
  color: #ff1b1b;
}

.product-card__price--old {
  margin-left: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-transform: uppercase;
  color: #bcbdbb;
}

.product-card__img {
  padding: 0;
  margin: 0;
}

.product-card-labels {
  position: absolute;
  top: 10px;
  left: 0;
}

.product-card-labels__item:not(:last-child) {
  margin-bottom: 5px;
}

.product-card-labels__text {
  display: inline-block;
  padding: 5px 15px;
  background-color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.product-card-labels__text--red {
  background-color: #ff1b1b;
}

.about-us__inner {
  background-image: url("../img/about-us/about-us-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  padding: 100px 50px 100px 0px;
  margin-right: -50px;
}

.about-us__text-wrapper {
  position: relative;
  padding: 50px;
  margin-left: -50px;
  width: 791px;
  height: 475px;
  background-color: #ffffff;
}

.about-us__text-wrapper::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--accent-color);
}

.about-us__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
}

.about-us__text span {
  color: var(--accent-color);
}

.about-us__text:not(:last-child) {
  margin-bottom: 15px;
}

.consultation__inner {
  padding: 100px 0px 118px 50px;
  margin-left: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url("../img/consultation/consultation-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
}

.consultation-form {
  padding: 50px;
  margin-right: -50px;
  width: 528px;
  background-color: #ffffff;
}

.consultation-form__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
}

.consultation-form__input {
  padding: 14px;
  margin-bottom: 15px;
  width: 432px;
  max-height: 51px;
  border: 1px solid #1e2e36;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  outline: none;
}

.consultation-form__input:hover, .consultation-form__input:focus {
  border-color: var(--accent-color);
}

.consultation-form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
}

.consultation-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
}

.consultation-form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
}

.consultation-form__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
}

.consultation-form__button {
  margin-bottom: 30px;
  min-width: 432px;
}

.consultation-form__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  max-width: 395px;
}

.consultation-form__text span {
  font-weight: 700;
}

.footer {
  margin-top: 110px;
  background-color: var(--text-color);
  color: #ffffff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 87px;
}

.footer__left-side {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 831px;
  width: 100%;
  padding: 50px 56px 15px 50px;
}

.footer__right-side {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__bg {
  max-width: unset;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__logo {
  margin-bottom: 50px;
}

.footer__contacts {
  display: block;
}

.footer__schedule {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
}

.footer__schedule::before {
  margin-right: 5px;
  font-family: 'icomoon';
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  content: '\e903';
}

.footer__phones {
  margin-bottom: 30px;
}

.footer__social {
  display: block;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.footer__dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--dev-ff);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer__dev::before {
  content: '\e907';
  font-family: 'icomoon';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  margin-right: 3px;
  width: 20px;
  height: 21px;
  color: #ffd001;
}

.footer-category {
  margin-right: 55px;
}

.footer-category__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer-category__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.footer-category__link:hover, .footer-category__link:focus {
  color: var(--accent-color);
}

.footer-category__link::before {
  margin-right: 5px;
  display: block;
  content: '';
  width: 15px;
  height: 2px;
  background-color: var(--accent-color);
}

.footer-navigation {
  margin-right: 87px;
}

.footer-navigation__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer-navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.footer-navigation__link:hover, .footer-navigation__link:focus {
  color: var(--accent-color);
}

.footer-navigation__link::before {
  margin-right: 5px;
  display: block;
  content: '';
  width: 15px;
  height: 2px;
  background-color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */