@font-face {
  font-family: 'Proxima-Nova';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Proxima-Nova-Regular/ProximaNova-Regular.eot')
      format('eot'),
    url('../fonts/Proxima-Nova-Regular/ProximaNova-Regular.ttf') format('woff'),
    url('../fonts/Proxima-Nova-Regular/ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Proxima-Nova';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Proxima-Nova-Semibold/ProximaNova-Semibold.eot')
      format('eot'),
    url('../fonts/Proxima-Nova-Semibold/ProximaNova-Semibold.ttf')
      format('woff'),
    url('../fonts/Proxima-Nova-Semibold/ProximaNova-Semibold.woff')
      format('woff');
}

@font-face {
  font-family: 'Proxima-Nova';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Proxima-Nova-Bold/ProximaNova-Bold.eot') format('eot'),
    url('../fonts/Proxima-Nova-Bold/ProximaNova-Bold.ttf') format('woff'),
    url('../fonts/Proxima-Nova-Bold/ProximaNova-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Proxima-Nova';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Proxima-Nova-Extrabld/ProximaNova-Extrabld.eot')
      format('eot'),
    url('../fonts/Proxima-Nova-Extrabld/ProximaNova-Extrabld.ttf')
      format('woff'),
    url('../fonts/Proxima-Nova-Extrabld/ProximaNova-Extrabld.woff')
      format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Cuprum-Regular/Cuprum-Regular.eot') format('eot'),
    url('../fonts/Cuprum-Regular/Cuprum-Regular.ttf') format('woff'),
    url('../fonts/Cuprum-Regular/Cuprum-Regular.woff') format('woff'),
    url('../fonts/Cuprum-Regular/Cuprum-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/icomoon/icomoon.eot') format('eot'),
    url('../fonts/icomoon/icomoon.ttf') format('woff'),
    url('../fonts/icomoon/icomoon.woff') format('woff');
}
